---
---
@import "{{ site.theme }}";

body {
	font-size: 1.2em;
	line-height: 1.6em;
}

// From: https://clickhelp.com/clickhelp-technical-writing-blog/create-note-boxes-in-online-documentation-with-html-and-css/
.callouts
{
	border: 1px solid;
  	border-radius: 5px;
	padding: 10px;
	margin: 20px 0;
}

.callouts h3
{
	border-bottom: 1px solid;
	padding: 10px;
	margin-bottom: 20px;
	margin-left: -10px;
	margin-right: -10px;
	font-weight: bold;
}

.callout-question
{
	border-color: #e76f51;
	background-color: rgba(231, 111, 81, 0.1);
}

.callout-question h3
{
	border-color: #e76f51;
}

.callout-question h3::before
{
	content: "\2600";
	margin-right: 6px;
}

.callout-important
{
	border-color: #0096c7;
	background-color: rgba(0, 150, 199, 0.1);
}

.callout-important h3
{
	border-color: #0096c7;
}

.callout-important h3::before
{
	content: "\2757";
	margin-right: 6px;
}

.callout-note
{
	border-color: #2a9d8f;
	background-color: rgba(42, 157, 143, 0.1);
}

.callout-note h3
{
	border-color: #2a9d8f;
}

.callout-note h3::before
{
	content: "\24d8";
	margin-right: 6px;
}

// Flashcard styling

.flashcard-container {
	position: relative;
	width: 500px;
}

.flashcard {
	position: absolute;
	width: 100%;
	min-height: 100px;
	transition: all 0.75s ease;
	transform-style: preserve-3d;
	display: flex;
	flex-direction: column;
}

.flashcard:hover {
	transform: rotateX(180deg);
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: 10px 10px 5px 0px rgba(41, 22, 22, 0.3);
	justify-content: center;
	align-content: center;
	padding: 20px;
}

.front {
	background-color: rgba(231, 111, 81, 0.1);
}

.back {
	transform: rotateX(180deg);
	background-color: rgba(231, 111, 81, 0.2);
}
