---
---
@import "{{ site.theme }}";

body {
	font-size: 1.2em;
	line-height: 1.6em;
}

// From: https://clickhelp.com/clickhelp-technical-writing-blog/create-note-boxes-in-online-documentation-with-html-and-css/
.callouts
{
	border: 1px solid;
  	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}

.callout-question
{
	border-color: #e76f51;
	background-color: rgba(231, 111, 81, 0.1); 
}

.callout-important
{
	border-color: #0096C7;
	background-color: rgba(0, 150, 199, 0.1); 
}


.callout-note
{
	border-color: #2A9D8F;
	background-color: rgba(42, 157, 143, 0.1); 
}